<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<appSettings>
  <add key="DownloadRootLocation" value="C:\temp\"/>
  <add key="DropboxFolderPrefix" value="dropbox"/>
  <add key="DropboxFolderPostfix" value="yyyyMMMMddhhmmss"/>
  <add key="DropboxSharedUrl" value="https://www.dropbox.com/sh/vs5dybevdxvkqk8/AAAkwhfKdC-Kv2GA79zfYP4_a?dl=1"/>
</appSettings>
</configuration>